html
    head
        title #{title} STORE
        link(rel="stylesheet", href="./style.css")
    body
        h1 #{title} APP

        h3 Get #{title} in our store. Log in and BUY!

        button.button-google
            a(href=url) Continue with Google